// Navigation code here
nav{
    .flex-layout(center, center);
     font-size: 2rem;
    a{
        display: flex;
        justify-content: space-around;
        padding: 20px;
        color: @main-font-color;
        font-family: @nav-font;
    }
}